body {
  margin: 0;
}

#app {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

#app_scalable {
  overflow: hidden;
  transition: transform .5s;
}
