#color_picker {
  left: 1em;
  position: absolute;
  top: 1em;
}

.color_picker_button {
  background-color: #00ff00;
  background-image: url("../img/color_picker.png");
  background-size: cover;
  border: none;
  height: 4em;
  position: absolute;
  width: 4em;
  z-index: 1;
}

.color_picker_input {
  border: none;
  display: block;
  height: 0;
  width: 0;
}
