.graffiti_toolbox {
  background-color: white;
  padding: 0;
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 1;

  .hide {
    display: none;
  }
}

.graffiti_button {
  background-size: cover;
  background-color: transparent;
  border: none;
  height: 24px;
  margin: 2px;
  overflow: hidden;
  width: 24px;

  &.edit {
    background-image: url("../img/spray_paint.png");
  }
}
